* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  overflow: hidden;
  font-size: 14px;
}

body {
  width: 100%;
  height: 100%;
}

main {
  padding: 0 10px;
  min-height: calc(100vh - 30px);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 60px);
}
aside {
  text-align: right;
}
/*
.screen {
  margin: 30px auto;
  height: 50vh;
  border: 1px solid black;
  border-radius: 5px;
}*/

.screen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  width: calc(100vw - 20px);
}
.screen textarea,
.screen textarea:focus {
  width: 100%;
  height: 300px;
  padding: 5px;
  resize: none;
  box-shadow: none;
  outline: none;
  border: none;
}
.index {
  padding: 5px 0;
  width: 20px;
}

.keyboard {
  margin: 0 auto;
  left: calc((100vw - 970px) / 2);
  width: 970px;
  display: grid;
  grid-template-columns: repeat(17, 1fr);
  grid-template-rows: repeat(5, 45px);
  grid-auto-flow: row;
}
.toggleBtn {
  display: none;
}

.action {
  grid-column: span 2;
}
.enter {
  grid-row: span 2;
}
.space {
  grid-column: span 7;
}
button {
  border-radius: 5px;
  border: 1px solid black;
  margin: 1px;
  cursor: pointer;
}
.capsLock {
  position: relative;
}

.led {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 10px;
  height: 10px;
  border: 1px solid black;
  border-radius: 50%;
}

.upperCase {
  text-transform: uppercase;
}

.majDependent {
  padding: 3px 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
}
.majActive {
  flex-direction: column;
}
.maj {
  font-size: 10px;
}
.majActive span:nth-of-type(1) {
  font-size: 10px;
}
.majActive span:nth-of-type(2) {
  font-size: 14px;
}

@media all and (max-width: 970px) {
  .keyboard {
    width: 95%;
    left: 2.5%;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 30px);
  }
  .desktop {
    display: none;
  }
  .letter {
    grid-column-start: 1;
  }
  .letter ~ .letter {
    grid-column-start: auto;
  }
  .number:nth-child(2) {
    grid-column-start: 1;
  }
  .rightMaj + button + button {
    grid-column-start: 3 !important;
  }

  .action:not(.enter):not(.backspace):not(#space):not(.rightMaj) {
    grid-column-start: 1;
    grid-row: 4;
  }
  .rightMaj {
    grid-column-start: 1;
    grid-row: 5;
  }
  .backspace {
    grid-row-start: 4;
    grid-column: -2;
  }
  .enter {
    grid-row: 5;
    grid-column: -2 / span 1;
  }
  .space {
    grid-column: 4 / span 4;
  }
  .coma {
    grid-row: 5;
    grid-column: 3;
  }
  .dot {
    grid-row: 5;
    grid-column: -4;
  }
  .maj {
    display: none;
  }
}

@media all and (max-width: 760px) {
  .toggleBtn {
    text-align: right;
    display: block;
  }
  .keyboard {
    position: absolute;
    bottom: -100%;
    transition: all 1s ease;
  }
  .active {
    bottom: 40px;
    transition: all 1s ease;
  }
}

/*  FOOTER  */
footer {
  text-align: center;
  height: 30px;
}
