* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

body,
html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
/*** HEADER ***/
header {
  height: 50px;
  padding: 10px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  margin: 0 10px;
  cursor: pointer;
}
.github i {
  font-size: 2rem;
}
#switch img {
  height: 18px;
  width: auto;
}
.menu {
  display: none;
}
header a {
  font-size: 18px;
  text-decoration: underline;
}
h1 {
  font-size: 22px;
  text-transform: uppercase;
}

/****** MAIN ******/

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 50px - 39px);
  z-index: 1;
}
aside {
  text-align: right;
}

.screen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.screen textarea,
.screen textarea:focus {
  width: 100%;
  height: 60vh;
  padding: 5px;
  resize: none;
  box-shadow: none;
  outline: none;
  border: none;
  overflow: auto;
}
.index {
  padding: 5px 0;
  width: 20px;
  overflow: auto;
}

.keyboard {
  margin: 0 auto;
  left: calc((100vw - 970px) / 2);
  width: 970px;
  display: grid;
  grid-template-columns: repeat(17, 1fr);
  grid-template-rows: repeat(5, 45px);
  grid-auto-flow: row;
}
.mobile {
  display: none;
}
.toggleBtn {
  display: none;
}
@media all and (min-width: 971px) {
  .action:not(#del):not(#start) {
    grid-column: span 2;
  }
}
.enter {
  grid-row: span 2;
}
.space {
  grid-column: span 7;
}
button {
  border-radius: 5px;
  border: 1px solid black;
  margin: 1px;
  cursor: pointer;
  outline: none;
}
button:not(.action):not(.utils) {
  font-weight: bold;
}

.capsLock {
  position: relative;
}

.led {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
@media all and (max-width: 580px) {
  .led {
    top: 2px;
    right: 2px;
    width: 7px;
    height: 7px;
  }
}

.upperCase {
  text-transform: uppercase;
}
.space {
  grid-column: 5 / span 7;
}
#left {
  grid-column-start: -4;
}

.majDependent {
  padding: 3px 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
}
.maj {
  font-size: 12px;
}
.majActive span:nth-of-type(1) {
  font-size: 12px;
}
.majActive span:nth-of-type(2) {
  font-size: 16px;
}
.number {
  position: relative;
}
.number span:nth-of-type(2) {
  position: absolute;
  top: 5px;
  left: 18px;
}
.number span:nth-of-type(1) {
  position: absolute;
  left: 18px;
  bottom: 5px;
}
.number span:nth-of-type(3) {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 12px;
}
.altgrActive span:nth-of-type(3) {
  font-size: 16px;
}
.altgrActive span:nth-of-type(1) {
  font-size: 12px;
}

@media all and (max-width: 970px) {
  .keyboard {
    width: 95%;
    left: 2.5%;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 30px);
  }
  .mobile {
    display: inline-block;
    grid-row-start: 5;
  }
  .desktop {
    display: none;
  }
  .letter {
    grid-column-start: 1;
  }
  .letter ~ .letter {
    grid-column-start: auto;
  }
  .number:nth-child(2) {
    grid-column-start: 1;
  }
  .leftMaj + button + button {
    grid-column-start: 3 !important;
  }

  .capsLock {
    grid-column-start: 1;
    grid-row: 4;
  }
  .leftMaj {
    grid-column-start: 1;
    grid-row: 5;
  }
  .backspace {
    grid-row-start: 4;
    grid-column: -2;
  }
  .enter {
    grid-row: 5;
    grid-column: -2 / span 1;
  }
  .space {
    grid-column: 4 / span 4;
  }
  .coma {
    grid-row: 5;
    grid-column: 3;
  }
  .dot {
    grid-row: 5;
    grid-column: -4;
  }
  .dot span:nth-of-type(1),
  .coma span:nth-of-type(2) {
    display: none;
  }
  .dot span:nth-of-type(2) {
    font-size: 16px;
  }

  .maj:not(.number > .maj) {
    display: none;
  }
  .number span:nth-of-type(1),
  .number span:nth-of-type(3) {
    display: none;
  }
  .number > .maj {
    position: static !important;
    margin: auto;
  }
}

@media all and (max-width: 760px) {
  /* .toggleBtn {
    text-align: right;
    display: block;
  }
  .keyboard {
    position: absolute;
    bottom: -100%;
    transition: all 1s ease;
  }
  .active {
    bottom: 40px;
    transition: all 1s ease;
  } */

  nav {
    position: relative;
  }
  nav ul {
    position: absolute;
    flex-direction: column;
    top: 40px;
    left: calc(100% + 10px);
    width: calc(100% + 20px);
    opacity: 0.8;
    transition: all 0.5s ease;
  }
  nav li {
    margin: 0;
    padding: 10px 0;
    width: 100%;
    text-align: center;
  }

  .menu {
    display: block;
    position: absolute;
    right: 10px;
    cursor: pointer;
  }
  .menu i {
    font-size: 22px;
  }
  .menu-active {
    transform: translate(-100%, 0);
    transition: all 0.5s ease;
  }
}

/*  FOOTER  */
footer {
  text-align: center;
  padding: 10px;
}
@media all and (max-height: 640px) {
  footer {
    display: none;
  }
}
