a {
  color: #000;
}

button[type='button'] {
  border: none;
}
button:hover {
  background-color: #dddddd;
}

body {
  background-color: #f9d2d2;
}

.led-active {
  background-color: #49c029;
  border: none;
  box-shadow: 0 0 10px #49c029;
}

textarea {
  background-color: #eaeaea;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  color: #595959;
}
.index {
  color: #7b7b7b;
  background: #dfdfdf;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.maj {
  color: #7b7b7b;
}

.majActive span:nth-of-type(1) {
  color: #7b7b7b !important;
}
.majActive span:nth-of-type(2) {
  color: #000 !important;
}
.number span:nth-of-type(3) {
  color: #7b7b7b;
}
.altgrActive span:nth-of-type(3) {
  color: #000;
}
.altgrActive span:nth-of-type(1) {
  color: #7b7b7b;
}

.uppercase-active,
.altGr-active {
  background-color: green !important;
  color: #fff;
}
.uppercase-active i {
  color: #fff !important;
}
#switch i {
  color: #9b9b9b;
}

@media all and (max-width: 970px) {
  .number span:nth-of-type(2) {
    color: #000;
    font-size: 16px;
    font-weight: normal;
  }
  .dot span:nth-of-type(2) {
    color: #000;
  }
}

@media all and (max-width: 760px) {
  nav ul {
    background-color: #f9d2d2;
  }
  nav li:hover {
    background-color: #fcbebe;
  }
}
